<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ site.path }}/js/bootstrap.min.js"></script>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #d7c7e2;
        }
    </style>
</head>

<body class="home blog custom-background front-page">
    <div id="container" class="hfeed">
        <div class="skip-container cf">
            <a class="skip-link screen-reader-text focusable" href="#content">&darr; Skip to Main Content</a>
        </div>
        <!-- .skip-container -->
        <div id="header">
            <div id="logo">
                <span class="site-name"><a href="{{ site.path }}/" title="Scam House" rel="home">Scam House</a></span>
                <span class="site-description">v3.00 &#8211; North Korea remake edition</span>
            </div>
            <!-- end of #logo -->
            <div class="main-nav">
                <ul class="menu">
                    <li class="current_page_item"><a href="{{ site.path }}/">Home</a></li>
                    <li class="page_item page-item-2"><a href="{{ site.path }}/?page_id=2">Satisfied Customers</a></li>
                    <li class="page_item page-item-91"><a href="{{ site.path }}/?page_id=91">Scam House Motto</a></li>
                </ul>
            </div>
        </div>
        <!-- end of #header -->
        <div id="wrapper" class="clearfix">
            {{ content }}
        </div>
        <!-- end of #wrapper -->
    </div>
    <!-- end of #container -->
    <div id="footer" class="clearfix">
        <div id="footer-wrapper">
            <div class="grid col-940">
                <div class="grid col-540">
                </div>
                <!-- end of col-540 -->
                <div class="grid col-380 fit">
                    <ul class="social-icons"></ul>
                    <!-- .social-icons -->
                </div>
                <!-- end of col-380 fit -->
            </div>
            <!-- end of col-940 -->
            <div class="grid col-300 copyright">
                &copy; 2015<a href="{{ site.path }}/" title="Scam House">
				Scam House
			</a>
            </div>
            <!-- end of .copyright -->
            <div class="grid col-300 scroll-top"><a href="#scroll-top" title="scroll to top">&uarr;</a></div>
            <!-- end .powered -->
        </div>
        <!-- end #footer-wrapper -->
    </div>
    <!-- end #footer -->
</body>

</html>